@import "../../index.css";

.toolbar {
  height: var(--toolbar-height);
  width: 100%;
  display: flex;
  align-items: center;
  background-color: white;
  justify-content: space-between;
  box-shadow: 0px 4px 5px gray;
  position: absolute;
  z-index: 10;
}
